            /* #region Global */
body{
    background: #fff;
    font-family: 'Roboto', sans-serif;
    color: #434455;
}
h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
    max-width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
}


.section{
   padding: 72px 16px;
   max-width: 320px;
   margin: 0 auto;
}

input,
textarea,
button {
    font-family: inherit;
    line-height: inherit;
}
textarea {
    resize: none;
}

            /* #endregion Global */

            /* #region Header*/

.cont-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    max-width: 320px;
    padding: 16px;
}
.address{
    font-style: normal;
    display: none;
}
.logo-top{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.head-logo-end{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.addr-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.addr-link:hover,
.addr-link:focus {
    color: #404bbf;
}

.nav{
    display: flex;
    gap:76px;
    align-items: center;
}
.studio{
    color: #404bbf;
    position: relative;
}
.studio::after {
    position: absolute;
    left: 0;
    bottom: -3px;
    display: block;
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
}
.nav-list{
    display: none;
    gap: 40px;
    padding: 24px 0;
  
 }
.addr-list{
    display: flex;
    gap: 40px;
}
.nav-link{
    position: relative;
}
.nav-link:active::after {
    position: absolute;
    left: 0;
    bottom: -3px;
    display: block;
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;   
}

.header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
            /* #endregion Header */

            /* #region Mobile Menu */
.mob-menu-wrap {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 320px;
        height: 100%;
        z-index: 2;
        opacity: 0;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #fff;
        padding: 72px 24px 40px 16px;
}
.mob-menu-wrap.is-open {
      opacity: 1;
      pointer-events: auto;
  }

    .mob-menu-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color:transparent;
        border: 1px solid rgba(0, 0, 0, 0.1);
        align-self: flex-end;
        margin-bottom: 24px;
        padding: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mob-menu-btn:hover,
    .mob-menu-btn:focus {
        background-color: #404bbf;
        border: none;
    }

    .mob-menu-nav-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 148px;

    }

    .mob-menu-nav-link {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    }

    .mob-menu-nav-link:hover,
    .mob-menu-nav-link:focus {
        color: #404bbf;
    }
    .mob-menu-address {
        font-style: normal;
    }
    .mob-menu-addr-list{
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 48px;

    }
    .mob-menu-addr-link {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .mob-menu-addr-link:hover,
    .mob-menu-addr-link:focus {
        color: #404bbf;
    }
    .mob-menu-list-social-link {
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }

    .mob-menu-item-soc-link {
        width: 40px;
        height: 40px;
    }

    .mob-menu-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mob-menu-team-item:hover .link,
    .mob-menu-team-item:focus .link,
    .mob-menu-link:hover,
    .mob-menu-link:focus {
        background-color: #404bbf;
    }

    .mob-menu-social-icon {
        fill: #f4f4fd;
    }

/* #endregion */

            /* #region Section-Motto*/

.motto-sect{
    background: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-resolution: 2x){
    .motto-sect{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-mob@2x.jpg);
    }
}
.cont-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
    padding: 0 52px;

}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.button{
    cursor: pointer;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    border: none;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
    background-color: #404bbf;
}


/* #endregion */

            /* #region Section-Features*/

         
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.feature-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.feature-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.feature-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.icon-wrap{
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    margin-bottom: 8px;
    display: none;
    padding: 24px 0;
}
.icon{
    display: block;
    width: 64px;
    height: 64px;
    --primary-color: #2E2F42;
    --secondary-color: #4D5AE5;
}

/* #endregion */

            /* #region Section-Team*/
.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}
.team-sect{
    background: #f4f4fd;
}
.team-item{
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    max-width: 264px;
    /* width: calc((100% - 72px)/4); */
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-tatle, .portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}
.team-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}



.card-name{
    padding: 32px 0;
}
.list-social-link{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0 16px;
}
.item-soc-link{
    width: 40px;
    height: 40px;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.team-item:hover .link, .team-item:focus .link, .link:hover, .link:focus {
    background-color: #404bbf;
}
.social-icon{
    fill:#f4f4fd;
}

/* #endregion */

            /* #region Section-Portfolio*/
.portfolio-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px
}

.portfolio-item {
    /* width: calc((100% - 48px) / 3); */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-prod{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.wrap-card{
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    height: 120px;
}
.box-for-overlay{
    position: relative;
    overflow: hidden;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay{
    transform: translateY(0);
}
.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}
/* #endregion */

            /* #region Footer*/       
.footer{
    background: #2e2f42;
    padding: 96px 16px;
    max-width: 320px;
    margin: 0 auto;
}

.footer-cont {
    display: flex;
    flex-direction: column;
    gap: 72px;
    max-width: 320px;
}

    /* 1st block: logo and text */
.footer-logo-and-moto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}
.logo-bottom {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.foot-logo-end {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
   }
.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
  
   }

    /* 2nd block: social media */
.ftr-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
 }
.text-social-media{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.ftr-links {
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
}

.social-links-ftr {
    display: flex;
    justify-content: flex-start;
    gap: 16px; 
}

.social-links-ftr .link:hover,
.social-links-ftr .link:focus {
    background-color: #31d0aa;
}

    /* 3rd block: form */
.wrap-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}
.footer-title {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    gap: 16px;
}
.form-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}
.footer-svg{
    fill: #fff;
    margin-left: 16px;
}
.email-subscribe{
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #2e2f42;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding-left: 16px;
    background-color: transparent;
}
.email-subscribe::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}
.btn-subscr {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    cursor: pointer
    }
    /* #endregion */

            /* #region Modal form*/
.modal-overlay {
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}
.wrap-field {
    position: relative;
}
.modal-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 288px;
    border-radius: 4px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form {
    display: flex;
    flex-direction: column;
    background: #fcfcfc;
    gap: 8px;
    margin-bottom: 16px;
}
.close-form-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    align-self: flex-end;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-form-btn:hover, .close-form-btn:focus{
    background-color: #404bbf;
    border: none;
}
.close-form-btn:hover .svg-close,
.close-form-btn:focus .svg-close{
    fill: #ffffff;
}

.form-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}


.user-name{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-name:focus{
    border-color: #4D5AE5;
}
.svg-input{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap .user-name:focus+.svg-input {
    fill: #4D5AE5;
}

.wrap-checkbox{
    margin-bottom: 24px;
}

.textarea-comment {
    width: 100%;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-comment:focus {
    border-color: #4D5AE5;
}

.wrap-check-policy{
    display: flex;
    min-width: 256px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.span-pp{
    align-self:center;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    background-color: #fff;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked+.wrap-check-policy .span-pp{
    border: none;
    background-color: #404BBF;
    fill: #f4f4fd;
}
.agreement{
    text-decoration: underline;
    color: #4d5ae5;
}
.send-form-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;

 }

.send-form-btn:hover {
    background: #357ab8;
}
label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    display: block;
}



/* #endregion */

            /* #region Media Tab */
@media (min-width: 768px) {
    /* Global */
    .section {
        max-width: 768px;
        padding: 96px 16px;
    }
    .container {
        max-width: 768px;
    }

    /* Header */
    .cont-header{
        padding: 0 16px 0 16px;
    }
    
    .nav {
        gap: 120px;
    }
    .nav-list {
        display: flex;
    }
    .address {
        display:block;
    }
    .addr-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .addr-link{
        font-size: 12px;
    }
    .header-btn{
        display: none;
    }
    .mob-menu-wrap{
        display: none;
    }

    /* Motto */
    .motto-sect {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office-tab.jpg);
    }
    .title{
        max-width: 496px;
        font-size: 56px;
    }
    .cont-title{
        padding: 0;
        gap: 72px; 
    }

    /* Features */
    .feature-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
    .feature-item {
        width: calc((100% - 24px) / 2);
    }
    .feature-title{
        text-align: start;
    }
    
    /* Team */
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
        justify-content: center;
    }
    .team-item {
        width: calc((100% - 24px)/2);
    }
    
    /* Portfolio */
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        justify-content: center;
    }
    .portfolio-item {
        width: calc((100% - 24px)/2);
    }

    /* Footer */
    .footer {
        max-width: 100%;
        padding:  0;
    }
    .footer-cont{
        padding: 96px 164px 96px 108px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        }
    .footer-logo-and-moto{
        max-width: 264px;
        justify-content: start;
    }
    .ftr-social {
        max-width: 208px;
        justify-content: start;
        align-self: flex-start;
    }
    .wrap-form {
        justify-content: start;
        row-gap: 16px;       
    }
    .email-subscribe{
        max-width: 264px;
    }
    .form-footer{
        gap: 24px;
    }
    
    /* Modal form */
    .modal-wrap{
        max-width: 408px;
        padding: 72px 24px 24px 24px;
    }
}

@media (min-width: 768px) and (min-resolution: 2x) {
    .motto-sect {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-tab@2x.jpg);
    }
}
            /* #endregion */

            /* #region Media Desk */
@media (min-width: 1158px) {
    /* global */
    .section {
        min-width: 100%;
        padding: 120px 0;
    }
    .container {
        max-width: 1158px;
    }
    /* Header */
    .header {
        min-width: 100%;
        padding: 0;
    }
    .cont-header {
        max-width: 1158px;
    }
    .addr-list {
        flex-direction: row;
        gap: 40px;
    }
    .addr-link {
        font-size: 16px;
    }
    
    /* Motto */
    .motto-sect {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-desk.jpg);
    }
    .title {
        max-width: 496px;
        font-size: 56px;
    }
    .cont-title {
        padding: 0;
        flex-direction: column;
        align-items: center;
        gap: 72px;
    }
    .motto-sect{
        padding-top: 188px;
        padding-bottom: 188px;
    }
    
    /* Features */
    .feature-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
    }
    .feature-item {
        width: calc((100% - 72px) / 4);
    }
    .feature-title {
        text-align: start;
        font-weight: 500;
        font-size: 20px;
    }
    .feature-text{
        font-weight: 400;
        font-size: 16px;
    }
    .icon-wrap{
        display: flex;
    }
    /* Team */
    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
    }
    .team-item {
        width: calc((100% - 72px)/4);
    }

    /* Portfolio */
    .portfolio-list {
        column-gap: 24px;
        row-gap: 48px;
    }
    .portfolio-item {
        width: calc((100% - 48px)/3);
    }

    /* Footer */
    .footer-cont {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 1128px;
        gap: 0;
        padding: 100px 0;
    }
    .wrap-form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 16px;
        margin-left: auto;
    }
    .form-footer {
        gap: 24px;
        justify-content: start;
        flex-wrap: nowrap;  
    }
    .footer-logo-and-moto{
        margin-right: 120px;
    }
    
    
}
@media (min-width: 1158px) and (min-resolution: 2x) {
    .motto-sect {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-desk@2x.jpg);
    }
}
            /* #endregion */